# PyCharm
.idea/

#tmp folder
tmp/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
*.env/

# macOS system files
.DS_Store

# Windows Thumbs.db files
Thumbs.db

# Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.editorconfig

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite
*.db
*.json
*.csv

# Dependency management
pip-log.txt
requirements.txt
